@model BestHealtStrategies.Models.User
@{
    ViewData["Title"] = "Home Page";
    var brojac = 1;
}
<div>
    <style>
        .headerrr {
            background-image: url("https://i2.wp.com/suburbansimplicity.com/wp-content/uploads/2017/03/Meal-Planning.jpg");
        }

        .sss {
            color: black;
            text-shadow: 2px 2px 4px #ffffff;
        }
    </style>
    @if (Model != null)
    {
            <div class="container m-5 ">
                @foreach (var dailyPlan in Model.WeeklyMealPlan)
                {
                    <h1 class="text-center">Day @brojac</h1>
                    <div class="row border m-1">


                        @foreach (var meal in dailyPlan.Meals)
                        {

                            <div class="col-sm">
                                <div class="card" style="width: auto;">
                                    <img class="card-img-top" src="@meal.Image" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title"> @meal.Title</h5>
                                        <p class="card-text"> @meal.Summary</p>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Instructions: @meal.Instructions</li>
                                        <li class="list-group-item">Time required: @meal.ReadyInMinutes</li>
                                        <li class="list-group-item">Servings: @meal.Servings</li>
                                    </ul>
                                    <div class="card-body">
                                        <a href="@meal.SourceURL" target="_blank" class="btn btn-primary">Source URL</a>
                                    </div>
                                </div>
                            </div>

                        }
                        @{brojac++;}
                    </div>
                }
            </div>
        
            }

            @if (Model == null)
            {
                <header class="headerrr py-5">
                    <div class="container px-5">
                        <div class="row gx-5 justify-content-center">
                            <div class="col-lg-6">
                                <div class="text-center my-5">

                                    <h1 class="sss display-5 fw-bolder text-dark mb-2">Present your business in a whole new way</h1>
                                    <h4 class="sss text-dark mb-4">Whether you want to lose weight, have a daily diet plan tailored to your medical condition or create a diet tailored to your training - BHS offers a solution for all of you.</h4>
                                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                                        <a class="btn btn-primary mr-3 btn-lg px-4 me-sm-3" href="/Identity/Account/Register">Get Started</a>
                                        <a class="btn btn-outline-dark ml-3 btn-lg px-4" href="/Home/Privacy">Learn More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>

                <section id="scroll">
                    <div class="container px-5">
                        <div class="row gx-5 align-items-center">
                            <div class="col-lg-6 order-lg-2">
                                <div class="p-5"><img class="img-fluid rounded-circle" src="https://i2.wp.com/suburbansimplicity.com/wp-content/uploads/2017/03/Meal-Planning.jpg" alt="..." /></div>
                            </div>
                            <div class="col-lg-6 order-lg-1">
                                <div class="p-5">
                                    <h2 class="display-4">Reason one...</h2>
                                    <p>The previous year was challenging for all of us. In addition to the numerous misfortunes brought by the pandemic, many of us have faced a lack of movement, excess weight, and a desire to get in shape with home training.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Content section 2-->
                <section>
                    <div class="container px-5">
                        <div class="row gx-5 align-items-center">
                            <div class="col-lg-6">
                                <div class="p-5"><img class="img-fluid rounded-circle" src="https://i2.wp.com/suburbansimplicity.com/wp-content/uploads/2017/03/Meal-Planning.jpg" alt="..." /></div>
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <h2 class="display-4">Reason two!</h2>
                                    <p>You know how every problem becomes real and close only when we face it, well, that's how it was with this. We have begun to empathize with people who re-create meals every day to suit their medical conditions, which is often a very difficult task.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Content section 3-->
                <section>
                    <div class="container px-5">
                        <div class="row gx-5 align-items-center">
                            <div class="col-lg-6 order-lg-2">
                                <div class="p-5"><img class="img-fluid rounded-circle" src="https://i2.wp.com/suburbansimplicity.com/wp-content/uploads/2017/03/Meal-Planning.jpg" alt="..." /></div>
                            </div>
                            <div class="col-lg-6 order-lg-1">
                                <div class="p-5">
                                    <h2 class="display-4">Reason Three!</h2>
                                    <p>BestHealthStrategies is a software or web application that allows you to easily and intuitively plan and adapt your diet to the needs of each individual.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- Pricing section-->
                <section class="bg-light py-5 border-bottom">
                    <div class="container px-5 my-5">
                        <div class="text-center mb-5">
                            <h2 class="fw-bolder">Pay as you grow</h2>
                            <p class="lead mb-0">With our no hassle pricing plans</p>
                        </div>
                        <div class="row gx-5 justify-content-center">
                            <!-- Pricing card free-->
                            <div class="col-lg-6 col-xl-4">
                                <div class="card mb-5 mb-xl-0">
                                    <div class="card-body p-5">
                                        <div class="small text-uppercase fw-bold text-muted">Free</div>
                                        <div class="mb-3">
                                            <span class="display-4 fw-bold">$0</span>
                                            <span class="text-muted">/ mo.</span>
                                        </div>
                                        <ul class="list-unstyled mb-4">
                                            <li class="mb-2">
                                                <i class="bi bi-check text-primary"></i>
                                                <strong>Easily and intuitively plan</strong>
                                            </li>
                                            <li class="mb-2">
                                                <i class="bi bi-check text-primary"></i>
                                                Easily and intuitively plan
                                            </li>


                                            <li class="mb-2 text-muted">
                                                <i class="bi bi-x"></i>
                                                Dedicated support
                                            </li>
                                            <li class="text-muted">
                                                <i class="bi bi-x"></i>
                                                Monthly status reports
                                            </li>
                                        </ul>
                                        <div class="d-grid"><a class="btn btn-outline-primary" href="/Identity/Account/Register">Choose plan</a></div>
                                    </div>
                                </div>
                            </div>
                            <!-- Pricing card pro-->
                            <div class="col-lg-6 col-xl-4">
                                <div class="card mb-5 mb-xl-0">
                                    <div class="card-body p-5">
                                        <div class="small text-uppercase fw-bold">
                                            <i class="bi bi-star-fill text-warning"></i>
                                            Pro
                                        </div>
                                        <div class="mb-3">
                                            <span class="display-4 fw-bold">$9</span>
                                            <span class="text-muted">/ mo.</span>
                                        </div>
                                        <ul class="list-unstyled mb-4">
                                            <li class="mb-2">
                                                <i class="bi bi-check text-primary"></i>
                                                <strong>Easily and intuitively plan</strong>
                                            </li>

                                            <li class="mb-2">
                                                <i class="bi bi-check text-primary"></i>
                                                Community access
                                            </li>

                                            <li class="mb-2">
                                                <i class="bi bi-check text-primary"></i>
                                                Dedicated support
                                            </li>
                                            <li class="text-muted">
                                                <i class="bi bi-x"></i>
                                                Monthly status reports
                                            </li>
                                        </ul>
                                        <div class="d-grid"><a class="btn btn-primary" href="/Identity/Account/Register">Choose plan</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            }
        </div>
